img{
    width: 100px;
    height: 100px;
}
.group input{
    width:300px;
    transition-duration: all 300;
    border: 2px solid gray;
    outline: none;
    padding: 2px 5px;
    border-radius: 10px;

}
    
.group input:hover{
    width:300px;

}