.container {
    background-image: linear-gradient(150deg,MediumSlateBlue, Violet);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .wrapper {
    background: white;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .wrapper h1{
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .wrapper .input-box {
    height: 50px;
    position: relative;
    height: 50px;
    margin-bottom: 20px;;
    padding-right: 20px;
  }

  .input-box input{
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    margin-right: 10px;
  }

  .input-box input::placeholder{
    color: black;
}

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 40px;
    border: 2px solid black;
  }
  
  .input-box .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    padding-bottom: 10px;
  }
  
  .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .remember-forgot a{
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.register-link p a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;

}
  
  button {
    padding: 10px;
    background-image: linear-gradient(150deg,MediumSlateBlue, Violet);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .register-link {
    text-align: center;
  }
  
  /* Media Queries for Responsiveness */
  @media screen and (max-width: 600px) {
    .wrapper {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .wrapper {
      width: 90%;
    }
  
    .input-box {
      margin-bottom: 15px;
    }
  
    .remember-forgot {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  